<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
    
    <title>Wordle Simulation Demo</title>
</head>
<body>
    <h1>Wordle Simulation</h1>
    <form class="initialization-form" action = "http://localhost:5000/simulate" method = "post">
        <p class="inputs">Correct Word</p>
        <p> <input type = "text" name = "correct_word" /></p>
        <p class="inputs">Inital Guess</p>
        <p class="inputs"><input type = "text" name = "initial_guess"/></p>
        <p><input class="inputs button" type = "submit" value = "SIMULATE" /></p>
     </form>   
</body>