h1 {
    font-family: "Roboto Slab";
    text-align: center
}

.header {
    font-family: "Roboto Slab";
    text-align: center
}

.wordle-grid {
    max-width: 280px;
    height: 400px;
    position: relative;
    padding-top: 2%;
    left: 42%;
    display: grid; 
}

.letter {
    height: 20px;
    width: 50px;
    font-family: "Roboto";
    border: 2px solid #d3d6da;
    padding: 20px 0;
    text-align: center;
}

.yellow {
    background-color: #b59f3b;
    border: 2px solid #b59f3b;
    color:white
}

.green {
    background-color: #538d4e;
    border: 2px solid #538d4e;
    color:white
}

.grey {
    background-color: #787c7e;
    border: 2px solid #787c7e;
    color:white
}

.white {
    background-color: white;
}

.background-hidden {
    background: transparent;
    border: 2px solid #d3d6da;
}

.button {
    min-height: 50px;
    min-width: 50px;
    font-size: 25px;
    border: none;
    background-color: #4e618d;
    color: white;
}

.nav-panel{
    position: relative;
    left: 42%;
    padding-top: 2%
}
input[type=text] {
    border: 2px solid #d3d6da;
    font-size: 15pt;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
}

.inputs {
    font-family: 'Roboto Slab';
    font-size: 15pt;
}

.initialization-form {
    height: 40%;
    max-width: 20%;
    position: relative;
    padding: 5%;
    left: 36%;
    background-color: #4e618d75;
}